# Fichiers système
.DS_Store
Thumbs.db
ehthumbs.db
*.tmp

# Éditeurs et IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sln.docstates

# Dépendances de développement (si installées plus tard)
node_modules/
bower_components/
vendor/

# Fichiers de log et rapports d'erreurs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers temporaires ou de configuration locale
.env
.env.local
.sass-cache/
.cache/
dist/
